@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Libertinus+Mono&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-color:rgb(250, 137, 8);
    --primary--color--light: #fffcfa;
    --primary-color-dark:rgb(249, 111, 13);
    --text-dark:#18181b;
    --white:white;
    --max-width:1200px;
}
*{
    margin: 0;padding: 0;
    box-sizing: border-box;

}
body{
    font-family:'Poppins', sans-serif;

}
.logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--primary-color);
 

}
.logo a span{
    color: var(--text-dark);
}
img{
    display:flex;
    width:100%;
}
a{
    text-decoration: none;
    
}
ul{
    list-style: none;;
}
/* nav part starts here */

.nav{
    position:fixed;
    isolation:isolate;
    z-index: 9;
}


.nav_header{
    width:100%;
    padding:1rem;
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--primary-color);
    
    
    
}
.nav_logo a{
    color:var(--white);
    
}
.nav_menu_btn{
    font-size:1.5rem;
    color:var(--white);
    cursor:pointer;
    
}
.nav_links{
    position:absolute;
    top:68px;
    left:0;
    width:100%;
    padding:2rem;
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    background-color: var(--primary--color--light); 
    transition: 0.5s; 
    z-index: -1;
    transform: translateY(-100%);
}
.nav_links.open{
    transform:translateY(0);
}
.nav_links a{
    font-weight: 500;
    color:var(--primary-color)
}
.nav_links a:hover{
    color:var(--text-dark);
}
.nav_btn{
    display: none;
}

@media(width>768px){

    .nav_header{
        flex:1;
        padding:0;
        background-color: transparent;
        
    }
    .nav_logo a{
        color:var(--primary-color);
        
    }
    .nav_menu_btn{
        display:none;
    }
    .nav_links{
        position:static;
        padding:0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }
    .nav_links a{
        color:var(--text-dark);
    }
    .nav_links a:hover{
        color:var(--primary-color)
    }
    .nav_btn{
        display:flex;
        position:relative;
        top:-50px;
        flex:1;
        justify-content: flex-end;
    }
    .nav_btn .button{
        padding:8px 10px;
        font-size:1.5rem;
        border-radius: 100%;
        
        
    }
    
    
}
/* Header section starts here */
.section_container{
    max-width: var(--max-width);
    margin:auto;
    padding:5rem 1rem;
}
.section_description{
    color:var(--text-dark);
    line-height: 1.75rem;
    text-align: center;
}
.btn{
    padding:0.75rem;
    outline:none;
    border:none;
    white-space: nowrap;
    font-size: 1rem;
    color:var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition:0.3s;
    cursor:pointer;
}
.btn:hover{
    background-color: var(--primary-color-dark);
    transform: scale(1.03);
}
.button{
    padding:0.75rem;
    outline:none;
    border:none;
    white-space: nowrap;
    font-size: 1rem;
    color:var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition:0.3s;
    cursor:pointer;
}
.button:hover{
    background-color: var(--primary-color-dark);
    transform: scale(1.03);
}
.header_container{
    display:grid;
    gap:2rem;
    overflow: hidden;

}
.header_image img{
    max-width: 600px;
    margin-inline:auto;
    

}
.header_content h1{
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color:var(--text-dark);
    text-align:center;
}
.header_content h1 span{
    color:var(--primary-color)
}
/* header responsiveness */
@media(width >768px){
    .header_container{
        grid-template-columns: 2fr 3fr;
        align-items: center;

    }
    .header_content h1,.header_content .section_description,.header_btn{
        text-align: left;
    }
    .header_image{
        grid-area: 1/2/2/3;

    }
}
/* Special Dishes */
.section_header{
    
    margin-bottom: 1rem;
    font-size:4.5rem;
    font-weight: 700;
    text-align: center;
    color:var(--primary-color)



}
.special_container:is(.section_header, .section_description){
    max-width: 600px;
    margin-inline: auto;

}
.special_grid{
    margin-top: 4rem;
    display:grid;
    gap:1rem;

}
.special_card{
    padding:1rem;
    text-align: center;
    border-radius: 2rem;
    transition:0.3s,linear;
}
.special_card:hover{
    box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
}
.special_card img{
    max-width: 200px;
    width:100%;
    margin-inline: auto;
    margin-bottom: 1rem;
    filter:drop-shadow(10px 10px 20px  rgba(0,0,0,0.1));


}
.special_card h4{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
        margin-inline: auto;
        margin-bottom: 0.5rem;
}
.special_ratings{
    margin-bottom: 1rem;
    font-size: 1rem;
    color:rgb(248, 201, 80);

}
/* Chef part  */
.chef{
    position:relative;
    isolation:isolate;
    overflow: hidden;
}
.chef_bg{
    position:absolute;
    z-index: -1;
    max-width: 275px;
    left:-4rem;
    bottom: -2rem;


}
.chef_container{
    padding-bottom: 10rem;
    display:grid;
    gap:2rem;

}
.checf_content .section_description{
    margin-bottom: 1rem;

}
.chef_image{
    position:relative;
    isolation:isolate;

}
.chef_image img{
    max-width: 500px;
    margin-inline: auto;

}
.chef_image::after{
    position:absolute;
    content:"";
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    height:100%;
    width: 500px;
    background-color: var(--primary-color);
    border-radius: 100%;
    z-index: -1;
}
.chef_content .section_header{
    color:var(--text-dark);

}
/* testimonial */
.testimonial_section{
    max-width: 800px;
    margin:0 auto;
    padding:3rem 3rem;
    text-align:center;


}
.testimonial_container{
    position:relative;
    overflow: hidden;
    padding:10px;
    margin: 10px 0;



}
.testimonial_card{
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 40px rgba(255,140,0,0.3);
    border-image-slice: 1;
    opacity:0;
    transform:scale(0.98);
    transition:  all 0.5s ease-in-out;
    position: absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;




}
.testimonial_card.active{
    opacity:1;
    transform: scale(1);
    position:relative;
}
.testimonial_card p{
    font-size: 1.1rem;
    margin-bottom:1.5rem ;
    color:#18181b;
    
}
.testimonial_card img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover; 
    
    box-shadow: 0 12px 4px rgba(0,0,0,0.1);

}
.testimonial_card h4{
    font-size:1.2rem;
    margin-bottom:0.2rem;
    

}